name: Dotnet Publish to ACR

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    env:
        IMAGE_NAME: 'sampleapi'
        TAG: ${{ github.sha }}
  
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Set up dependency caching for faster builds
        uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ vars.DOCKER_LOGIN_SERVER }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.DOCKER_LOGIN_SERVER }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build with dotnet
        run: |
            dotnet publish -c Release -t:PublishContainer \
            -p ContainerRepository=${{ env.IMAGE_NAME }} \
            -p ContainerRegistry=${{ vars.DOCKER_LOGIN_SERVER }} \
            -p ContainerImageTags='"${{ env.TAG }};latest"'
        working-directory: src/SampleApi
